@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #000000;
}

/* --- Aceternity Animated Mesh Gradient Keyframes --- */
@keyframes moveVertical {
  0% { transform: translateY(-50%) scale(1); }
  50% { transform: translateY(50%) scale(1.2); }
  100% { transform: translateY(-50%) scale(1); }
}
@keyframes moveInCircle {
  0% { transform: rotate(0deg) scale(1); }
  100% { transform: rotate(360deg) scale(1.2); }
}
@keyframes moveHorizontal {
  0% { transform: translateX(-50%) scale(1); }
  50% { transform: translateX(50%) scale(1.1); }
  100% { transform: translateX(-50%) scale(1); }
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-out-left {
  animation: slideOutLeft 0.1s ease-in-out forwards;
}

.animate-first    { animation: moveVertical 8s ease-in-out infinite; }
.animate-second   { animation: moveInCircle 10s linear infinite; }
.animate-third    { animation: moveInCircle 12s ease-in-out infinite; }
.animate-fourth   { animation: moveHorizontal 14s ease-in-out infinite; }
.animate-fifth    { animation: moveInCircle 16s ease-in-out infinite; }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Raleway;
   height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


